body {
    background-color: #2C3E44;
}

main {
    margin: 0 auto;
    width: 850px;
    height: 600px;
}

#message {
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
    font-size: 20px;
    color: #000000;

    background-color: rgba(171, 181, 70, 0.96);
    border-radius: 2px;
    margin-bottom: 20px;

    height: 50px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#message span {
    display: block;
}

.grid table {
    margin: 0 auto;
    font-weight: bold;
}

#grid-opponent {
    float: left;
}

#grid-shoot {
    float: right;
}

#grid-opponent.grid td {
    width: 30px;
    height: 30px;
}

#grid-shoot.grid td {
    width: 40px;
    height: 40px;
}

.grid td.unknown {
    background-color: #ffffff !important;
}

.grid td.empty {
    background-color: #d6c5d0 !important;
}

.grid td.ship {
    background-color: #0b5c53 !important;
}

.grid.inactive {
    opacity: 0.4;
}

#info {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
    color: darkgray;
    clear: both;

    padding-top: 1em;
}

#ship-sel-ok {
    color: #024167;
}

.msg-fail {
    color: #ab0505;
}