html {
  font-size: 12px;
}

@media all and (min-width: 850px) {
  html {
    font-size: 16px;
  }
}

body {
  background-color: #2C3E44;
}

main {
  margin: 0 auto;
}

@media all and (min-width: 850px) {
  main {
    width: 45vw;
  }
}

#flag {
  float: right;
  margin-bottom: 5px;
  cursor: pointer;
}

#flag > img {
  padding-right: 10px;
}

#flag > :last-child {
  padding-right: 0 !important;
}

#message {
  font-family: Verdana, Geneva, sans-serif;
  text-align: center;
  font-size: 1.25rem;
  color: #000000;

  background-color: rgba(171, 181, 70, 0.96);
  border-radius: 2px;
  margin-bottom: 20px;

  min-height: 3.125rem;
  width: 100%;

  padding-top: 5px;
  padding-bottom: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#message .message {
  display: block;
}

#message-const a {
  color: #000057;
  cursor: pointer;
}

.message-fail {
  color: #ab0505;
}

.message-important {
  font-weight: bold;
  animation: message-blinker 1s linear infinite;
}

@keyframes message-blinker {
  50% {
    opacity: 0.0;
  }
}

.grid table {
  margin: 0 auto;
  font-weight: bold;

  border-collapse: separate;
  border-spacing: 1px;
}

#grid-opponent {
  float: left;
}

#grid-shoot {
  float: right;
}

/*
td width/height calculations rationale:
  100vw - viewport width
  1/10 - grid width/height is 10 cells
  3/7, 4/7: there are two grids, their size ratio is 3:4
  0.44: main width is 45vw
  0.95 or 0.85: grids occupy x% of the available width
  - 1px: minus border spacing
  max(calc(), x) - x is minimum size
*/

#grid-opponent.grid td {
  width: max(calc(100vw * 1 / 10 * 3 / 7 * 0.95 - 1px), 21px);
  height: max(calc(100vw * 1 / 10 * 3 / 7 * 0.95 - 1px), 21px);
}

#grid-shoot.grid td {
  width: max(calc(100vw * 1 / 10 * 3 / 7 * 0.95 - 1px), 28px);
  height: max(calc(100vw * 1 / 10 * 3 / 7 * 0.95 - 1px), 28px);
}

@media all and (min-width: 850px) {
  #grid-opponent.grid td {
    width: calc(100vw * 1 / 10 * 3 / 7 * 0.45 * 0.85 - 1px);
    height: calc(100vw * 1 / 10 * 3 / 7 * 0.45 * 0.85 - 1px);
  }

  #grid-shoot.grid td {
    width: calc(100vw * 1 / 10 * 4 / 7 * 0.45 * 0.85 - 1px);
    height: calc(100vw * 1 / 10 * 4 / 7 * 0.45 * 0.85 - 1px);
  }
}

.grid td {
  text-align: center;
}

.grid td.cell-unknown {
  background-color: #ffffff;
}

.grid td.cell-empty {
  background-color: #d6c5d0;
}

.grid td.cell-ship {
  background-color: #0b5c53;
}

.grid td.cell-ship-sunk {
  background-color: #0b5c53;
}

.grid td.cell-ship-sunk:after {
  content: "*";

  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1.3125rem;
  color: powderblue;
}

.grid td.cell-oppshoot::after {
  content: "*";

  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1.3125rem;
  color: red;
}

.cell-shootable {
  cursor: crosshair;
}

.grid.grid-inactive {
  opacity: 0.4;
}

#info {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 0.9375rem;
  color: darkgray;
  clear: both;

  padding-top: 1rem;
}

.info-td-1 {
  width: 16rem;
}

a.change {
  font-family: Lucida Sans Unicode, sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
}

a.change-enabled {
  color: dodgerblue;
}

a.change-disabled {
  color: gray;
}

.stats-value {
}

.game-rules-value {
  color: #fa8b00;
}
