<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">

<head>
  <meta charset="utf-8"/>

  <title>Battleship</title>
  <meta name="title" content="Battleship">
  <meta name="description" content="Battleship - classic strategy game.">
  <link rel="canonical" href="https://battleship.8tr.pl"/>

  <meta property="og:title" content="Battleship"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="https://battleship.8tr.pl/og/image.png"/>
  <meta property="og:image:type" content="image/png"/>
  <meta property="og:image:width" content="1200"/>
  <meta property="og:image:height" content="628"/>
  <meta property="og:image:alt" content="website screenshot"/>
  <meta property="og:url" content="https://battleship.8tr.pl"/>
  <meta property="og:description" content="Battleship - classic strategy game."/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="icon" type="image/png" sizes="16x16" href="favicon.png"/>

  <link rel="preload" href="flags/us.png" as="image"/>
  <link rel="preload" href="flags/pl.png" as="image"/>

  <link rel="prefetch" href="i18n/en.json"/>
  <link rel="prefetch" href="i18n/pl.json"/>

  <!-- @formatter:off -->
  <%= htmlWebpackPlugin.tags.headTags.join("\n  ") %>
  <!-- @formatter:on -->
</head>

<body class="theme-classic">
<%= htmlWebpackPlugin.tags.bodyTags.join("\n") %>
<div id="container">
  <main>
    <!-- LICENSE: flags/LICENSE.txt -->
    <div id="flags"></div>

    <div id="messages">
      <span id="message-const" data-i18n-path="pre.initializing">
          Initializing, please wait …
      </span>
    </div>

    <div id="grids">
      <div class="grid grid-inactive" id="grid-opponent">
        <table>
          <tr>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="0" data-col-i="0"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="0" data-col-i="1"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="0" data-col-i="2"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="0" data-col-i="3"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="0" data-col-i="4"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="0" data-col-i="5"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="0" data-col-i="6"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="0" data-col-i="7"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="0" data-col-i="8"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="0" data-col-i="9"></td>
          </tr>
          <tr>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="1" data-col-i="0"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="1" data-col-i="1"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="1" data-col-i="2"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="1" data-col-i="3"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="1" data-col-i="4"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="1" data-col-i="5"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="1" data-col-i="6"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="1" data-col-i="7"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="1" data-col-i="8"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="1" data-col-i="9"></td>
          </tr>
          <tr>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="2" data-col-i="0"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="2" data-col-i="1"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="2" data-col-i="2"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="2" data-col-i="3"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="2" data-col-i="4"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="2" data-col-i="5"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="2" data-col-i="6"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="2" data-col-i="7"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="2" data-col-i="8"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="2" data-col-i="9"></td>
          </tr>
          <tr>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="3" data-col-i="0"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="3" data-col-i="1"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="3" data-col-i="2"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="3" data-col-i="3"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="3" data-col-i="4"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="3" data-col-i="5"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="3" data-col-i="6"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="3" data-col-i="7"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="3" data-col-i="8"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="3" data-col-i="9"></td>
          </tr>
          <tr>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="4" data-col-i="0"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="4" data-col-i="1"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="4" data-col-i="2"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="4" data-col-i="3"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="4" data-col-i="4"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="4" data-col-i="5"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="4" data-col-i="6"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="4" data-col-i="7"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="4" data-col-i="8"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="4" data-col-i="9"></td>
          </tr>
          <tr>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="5" data-col-i="0"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="5" data-col-i="1"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="5" data-col-i="2"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="5" data-col-i="3"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="5" data-col-i="4"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="5" data-col-i="5"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="5" data-col-i="6"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="5" data-col-i="7"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="5" data-col-i="8"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="5" data-col-i="9"></td>
          </tr>
          <tr>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="6" data-col-i="0"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="6" data-col-i="1"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="6" data-col-i="2"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="6" data-col-i="3"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="6" data-col-i="4"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="6" data-col-i="5"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="6" data-col-i="6"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="6" data-col-i="7"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="6" data-col-i="8"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="6" data-col-i="9"></td>
          </tr>
          <tr>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="7" data-col-i="0"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="7" data-col-i="1"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="7" data-col-i="2"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="7" data-col-i="3"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="7" data-col-i="4"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="7" data-col-i="5"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="7" data-col-i="6"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="7" data-col-i="7"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="7" data-col-i="8"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="7" data-col-i="9"></td>
          </tr>
          <tr>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="8" data-col-i="0"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="8" data-col-i="1"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="8" data-col-i="2"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="8" data-col-i="3"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="8" data-col-i="4"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="8" data-col-i="5"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="8" data-col-i="6"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="8" data-col-i="7"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="8" data-col-i="8"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="8" data-col-i="9"></td>
          </tr>
          <tr>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="9" data-col-i="0"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="9" data-col-i="1"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="9" data-col-i="2"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="9" data-col-i="3"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="9" data-col-i="4"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="9" data-col-i="5"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="9" data-col-i="6"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="9" data-col-i="7"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="9" data-col-i="8"></td>
            <td class="cell-unknown" data-grid-id="grid-opponent" data-row-i="9" data-col-i="9"></td>
          </tr>
        </table>
      </div>
      <div class="grid grid-inactive" id="grid-shoot">
        <table>
          <tr>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="0" data-col-i="0"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="0" data-col-i="1"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="0" data-col-i="2"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="0" data-col-i="3"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="0" data-col-i="4"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="0" data-col-i="5"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="0" data-col-i="6"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="0" data-col-i="7"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="0" data-col-i="8"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="0" data-col-i="9"></td>
          </tr>
          <tr>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="1" data-col-i="0"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="1" data-col-i="1"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="1" data-col-i="2"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="1" data-col-i="3"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="1" data-col-i="4"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="1" data-col-i="5"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="1" data-col-i="6"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="1" data-col-i="7"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="1" data-col-i="8"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="1" data-col-i="9"></td>
          </tr>
          <tr>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="2" data-col-i="0"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="2" data-col-i="1"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="2" data-col-i="2"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="2" data-col-i="3"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="2" data-col-i="4"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="2" data-col-i="5"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="2" data-col-i="6"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="2" data-col-i="7"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="2" data-col-i="8"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="2" data-col-i="9"></td>
          </tr>
          <tr>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="3" data-col-i="0"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="3" data-col-i="1"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="3" data-col-i="2"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="3" data-col-i="3"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="3" data-col-i="4"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="3" data-col-i="5"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="3" data-col-i="6"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="3" data-col-i="7"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="3" data-col-i="8"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="3" data-col-i="9"></td>
          </tr>
          <tr>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="4" data-col-i="0"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="4" data-col-i="1"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="4" data-col-i="2"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="4" data-col-i="3"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="4" data-col-i="4"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="4" data-col-i="5"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="4" data-col-i="6"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="4" data-col-i="7"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="4" data-col-i="8"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="4" data-col-i="9"></td>
          </tr>
          <tr>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="5" data-col-i="0"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="5" data-col-i="1"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="5" data-col-i="2"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="5" data-col-i="3"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="5" data-col-i="4"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="5" data-col-i="5"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="5" data-col-i="6"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="5" data-col-i="7"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="5" data-col-i="8"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="5" data-col-i="9"></td>
          </tr>
          <tr>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="6" data-col-i="0"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="6" data-col-i="1"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="6" data-col-i="2"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="6" data-col-i="3"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="6" data-col-i="4"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="6" data-col-i="5"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="6" data-col-i="6"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="6" data-col-i="7"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="6" data-col-i="8"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="6" data-col-i="9"></td>
          </tr>
          <tr>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="7" data-col-i="0"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="7" data-col-i="1"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="7" data-col-i="2"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="7" data-col-i="3"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="7" data-col-i="4"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="7" data-col-i="5"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="7" data-col-i="6"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="7" data-col-i="7"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="7" data-col-i="8"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="7" data-col-i="9"></td>
          </tr>
          <tr>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="8" data-col-i="0"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="8" data-col-i="1"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="8" data-col-i="2"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="8" data-col-i="3"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="8" data-col-i="4"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="8" data-col-i="5"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="8" data-col-i="6"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="8" data-col-i="7"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="8" data-col-i="8"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="8" data-col-i="9"></td>
          </tr>
          <tr>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="9" data-col-i="0"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="9" data-col-i="1"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="9" data-col-i="2"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="9" data-col-i="3"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="9" data-col-i="4"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="9" data-col-i="5"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="9" data-col-i="6"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="9" data-col-i="7"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="9" data-col-i="8"></td>
            <td class="cell-unknown" data-grid-id="grid-shoot" data-row-i="9" data-col-i="9"></td>
          </tr>
        </table>
      </div>
    </div>

    <div id="info">
      <table>
        <tr>
          <td data-i18n-path="stats.game_url" class="info-td-1">game/url</td>
          <td data-i18n-path="stats.unknown" class="info-td-2 stats-value" id="info-game-url">unknown</td>
        </tr>

        <tr>
          <td data-i18n-path="stats.game_players">game/players</td>
          <td id="info-players-game" class="stats-value">0</td>
        </tr>

        <tr>
          <td data-i18n-path="stats.game_ratio">game/winning ratio</td>

          <td id="info-winning-ratio" class="stats-value">
            <span id="info-winning-me">0</span>:<span id="info-winning-opp">0</span>
          </td>
        </tr>

        <tr>
          <td data-i18n-path="stats.server_players">server/players</td>
          <td data-i18n-path="stats.unknown" class="stats-value" id="info-players-global">unknown</td>
        </tr>
      </table>

      <div>
        <p>
          <span data-i18n-path="game-rules.grid-size">
            game-rules/grid-size:
          </span>
          <span data-i18n-path="game-rules.grid-size.unknown"
                id="game-rules-grid-size-value" class="game-rules-value">
            unknown
          </span>
          <a role="button" class="like-href change change-disabled">&#x21B7;</a>
          <br/>

          <span data-i18n-path="game-rules.fleet-sizes">
            game-rules/fleet-sizes:
          </span>
          <span data-i18n-path="game-rules.fleet-sizes.unknown"
                id="game-rules-fleet-sizes-value" class="game-rules-value">
            unknown
          </span>
          <a role="button" data-game-rules-change="fleet-sizes" class="like-href change change-disabled">&#x21B7;</a>
          <br/>

          <span data-i18n-path="game-rules.fleet-mode">
            game-rules/fleet-mode:
          </span>
          <span data-i18n-path="game-rules.fleet-mode.unknown"
                id="game-rules-fleet-mode-value" class="game-rules-value">
            unknown
          </span>
          <a role="button" data-game-rules-change="fleet-mode" class="like-href change change-disabled">&#x21B7;</a>
          <br/>

          <span data-i18n-path="game-rules.fleet-can-touch-each-other-diagonally">
            game-rules/fleet-can-touch-each-other-diagonally:
          </span>
          <span data-i18n-path="game-rules.fleet-can-touch-each-other-diagonally.unknown"
                id="game-rules-fleet-can-touch-each-other-diagonally-value" class="game-rules-value">
            unknown
          </span>
          <a role="button" data-game-rules-change="fleet-can-touch-each-other-diagonally"
             class="like-href change change-disabled">&#x21B7;</a>
          <br/>

          <span data-i18n-path="game-rules.show-fields-for-sure-empty">
            game-rules/show-fields-for-sure-empty:
          </span>
          <span data-i18n-path="game-rules.show-fields-for-sure-empty.unknown"
                id="game-rules-show-fields-for-sure-empty-value" class="game-rules-value">
            unknown
          </span>
          <a role="button" data-game-rules-change="show-fields-for-sure-empty"
             class="like-href change change-disabled">&#x21B7;
          </a>
        </p>
      </div>
    </div>
  </main>

</div>
</body>
</html>
