html {
    font-size: 16px;
}

body {
    background-color: #2C3E44;
}

main {
    margin: 0 auto;
    width: 850px;
    height: 600px;
}

#flags {
    float: right;
    margin-bottom: 5px;
    cursor: pointer;
}

#flags > img {
    padding-right: 10px;
}

#flags > :last-child {
    padding-right: 0 !important;
}

#message {
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
    font-size: 1.25rem;
    color: #000000;

    background-color: rgba(171, 181, 70, 0.96);
    border-radius: 2px;
    margin-bottom: 20px;

    min-height: 3.125rem;
    width: 100%;

    padding-top: 5px;
    padding-bottom: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#message span.msg {
    display: block;
}

.grid table {
    margin: 0 auto;
    font-weight: bold;

    border-collapse: separate;
    border-spacing: 1px;
}

#grid-opponent {
    float: left;
}

#grid-shoot {
    float: right;
}

#grid-opponent.grid td {
    width: 30px;
    height: 30px;
}

#grid-shoot.grid td {
    width: 40px;
    height: 40px;
}

.grid td {
    text-align: center;
    vertical-align: bottom;
}

.grid td.unknown {
    background-color: #ffffff;
}

.grid td.empty {
    background-color: #d6c5d0;
}

.grid td.ship {
    background-color: #0b5c53;
}

.grid td.opponent-shoot::after {
    content: "*";

    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1.3125rem;
    color: red;
}

.grid.inactive {
    opacity: 0.4;
}

#info {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 0.9375rem;
    color: darkgray;
    clear: both;

    padding-top: 1rem;
}

#msg-const a {
    color: #000057;
}

.msg-fail {
    color: #ab0505;
}

@keyframes blinker {
    50% {
        opacity: 0.0;
    }
}

.msg-important {
    font-weight: bold;
    animation: blinker 1s linear infinite;
}

.inactive {
    opacity: 0.5;
}

.info-td-1 {
    width: 10rem;
}

.shoot-able {
    cursor: crosshair;
}
